
<link rel="stylesheet" href="/css/footer.css">
<br><br><br><br>
<footer>
    <div>
        <p><center>
            &#169; NIKHIL KUMAR.  All Rights Reserved
        </center>
        </p>
    </div>


</footer>